server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:petdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml

logging:
  level:
    root: info
    ru.akbirov.petproject: debug
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

